.backgroundImg {
  background-image: url("/bg.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: absolute;
  width: 100%;
}

.mainBox {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

