.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.linkInput:hover {
  border: 1px solid var(--mantine-color-pink-6);
}
.linkInput:focus {
  border: 1px solid var(--mantine-color-pink-6);
}
